@model EventiqonWebApp.Models.SeznamMojihAktivnostiInDogodkov
@{
    ViewBag.Title = "Organizator";
}

<div class="row">
    <div class="col-md-3" role="complementary" id="scrollSpyNavigation">
        <nav data-spy="affix" data-offset-top="300" data-offset-bottom="200" class="hidden-print hidden-xs hidden-sm">
            <ul class="nav">
                <li><a href="#aktivnosti">Organizator aktivnosti</a></li>
                <li><a href="#dogodki">Organizator dogodkov</a></li>

            </ul>
        </nav>
    </div>

    <div class="col-md-9">
        <!-- Forma za vnos podatkov    -->
        <div class="panel panel-default vnosnaForma">
            <div id="aktivnosti" class="panel-heading">
                <table style="width:100%;">
                    <tr>
                        <td style="width:70%;">Organizator aktivnosti</td>
                        <td style="width:30%;">
                            <span style="font-size: 0.75em;display:inline-block;float:right;">
                                Število zadetkov: &nbsp;
                                <select>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">

                @foreach (var aktivnost in Model.seznamAktivnosti)
                {
                    <div class="panel panel-default aktivnost">
                        <div class="panel-heading clearfix">
                            <span>@aktivnost.Aktivnost.naziv</span>
                            <span>@aktivnost.Aktivnost.nazivLokacije</span>
                            <span>@aktivnost.Aktivnost.datumOd - @aktivnost.Aktivnost.datumDo</span>
                            <span>@aktivnost.Aktivnost.status</span>
                        </div>
                        <div class="panel-footer">
                            @*<button class="btn btn-default" type="button" data-toggle="collapse">Uredi</button>*@
                            @if (aktivnost.Aktivnost.status == "končan")
                            {
                                <button class="btn btn-default spremeniAkt" name="akt_@aktivnost.idAktivnost" type="button">Končano</button>
                            }
                            else
                            {
                                <button class="btn btn-default spremeniAkt" name="akt_@aktivnost.idAktivnost" type="button">Končaj</button>
                            }

                        </div>
                    </div>
                }

            </div>
            @*<nav class="ostranjevanje">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>*@
        </div>
        <!-- konec forme za urejanje osebnih podatkov   -->
        <!-- Forma za vnos podatkov    -->
        <div class="panel panel-default vnosnaForma">
            <div id="dogodki" class="panel-heading">
                <table style="width:100%;">
                    <tr>
                        <td style="width:70%;">Organizator dogodkov</td>
                        <td style="width:30%;">
                            <span style="font-size: 0.75em;display:inline-block;float:right;">
                                Število zadetkov: &nbsp;
                                <select>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                @foreach (var dogodek in Model.seznamDogodkov)
                {
                    <div class="panel panel-default aktivnost">
                        <div class="panel-heading clearfix">
                            <span>@dogodek.Dogodek.naziv</span>
                            <span>@dogodek.Dogodek.nazivLokacije</span>
                            <span>@dogodek.Dogodek.datumOd - @dogodek.Dogodek.datumDo</span>
                            <span>@dogodek.Dogodek.status</span>
                        </div>
                        <div class="panel-footer">
                            @*<button class="btn btn-default" type="button" data-toggle="collapse">Uredi</button>*@
                           
                            @if (dogodek.Dogodek.status == "končan")
                            {
                                <button class="btn btn-default spremeniDog" name="dog_@dogodek.idDogodek" type="button">Končano</button>
                            }
                            else
                            {
                                <button class="btn btn-default spremeniDog" name="dog_@dogodek.idDogodek" type="button">Končaj</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- konec forme za urejanje osebnih podatkov   -->
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/myorganizer.js")
}