@model EventiqonWebApp.Models.MyAttendeesViewModel
@{
    ViewBag.Title = "UserInbox";
}

<div class="row">
    <div class="col-md-3" role="complementary" id="scrollSpyNavigation">
        <nav data-spy="affix" data-offset-top="300" data-offset-bottom="200" class="hidden-print hidden-xs hidden-sm">
            <ul class="nav">
                <li><a href="#aktivnosti">Aktivnosti</a></li>
                <li><a href="#dogodki">Dogodki</a></li>

            </ul>
        </nav>
    </div>

    <div class="col-md-9">
        <!-- Forma za vnos podatkov    -->
        <div class="panel panel-default vnosnaForma">
            <div id="aktivnosti" class="panel-heading">
                <table style="width:100%;">
                    <tr>
                        <td style="width:70%;">Aktivnosti</td>
                        <td style="width:30%;">
                            <span style="font-size: 0.75em;display:inline-block;float:right;">
                                Število zadetkov: &nbsp;
                                <select>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body"> <!-- morda nek id, da lahko notri dodamo to kar vrne controller v primeru uporabniške interakcije -->
                @if (Model.seznamAktivnosti.Count() == 0)
                {
                    <p>Seznam aktivnosti je prazen!</p>
                }
                else
                {
                    foreach (var sA in Model.seznamAktivnosti)
                    {
                         <div class="panel panel-default aktivnost">
                            <div class="panel-heading clearfix">
                                <span>@sA.Aktivnost.naziv</span>
                                <span>@sA.Aktivnost.nazivLokacije</span>
                                <span>@sA.Aktivnost.datumOd - @Model.seznamAktivnosti.Take(1).Single().Aktivnost.datumDo</span>
                                <span>@sA.Aktivnost.status</span>
                            </div>
                            <div class="panel-body collapse" id="aktivnost-@sA.Aktivnost.idAktivnost" style="word-wrap:break-word;">
                                <p>
                                    @sA.Aktivnost.opis
                                </p>
                                <table class="table table-hover" style="table-layout:fixed">
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="40%" />
                                    <tr>
                                        <th>Naziv</th>
                                        <th>Kdaj</th>
                                        <th>Čas trajanja</th>
                                        <th>Opis</th>
                                    </tr>

                                    @foreach (var sA_postavka in sA.Aktivnost.PostavkaAktivnosti)
                                    {
                                        <tr>
                                            <td>@sA_postavka.naziv</td>
                                            <td>@sA_postavka.casovniOpisKdaj</td>
                                            <td>@sA_postavka.opisCasaTrajanja</td>
                                            <td>@sA_postavka.polniOpis</td>
                                        </tr>
                                    }
                                   
                                </table>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default" type="button" data-toggle="collapse" href="#aktivnost-@sA.Aktivnost.idAktivnost">Več...</button>
                                @*<button class="btn btn-default" type="button">Prekliči udeležbo</button>
                                <button class="btn btn-default" type="button">Podrobno</button>*@
                            </div>
                        </div>
                    }
                }
            </div>
            @{
                // z 10 delimo ker je to privzeto število zadetkov na stran (?za customizacijo bomo poskrbeli v Javascriptu)
                int steviloStrani = (int)Math.Ceiling((double)Model.seznamAktivnosti.Count() / 10);
                // zgornja meja
                if (steviloStrani > 10)
                {
                    steviloStrani = 10;
                }
               // steviloStrani = 10;
            }

            @if (steviloStrani > 1)
            {
            <nav class="ostranjevanje">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                   
                    <li class="active"><a href="#">1</a></li>
                    
                    @for (int i = 1; i < steviloStrani; i++)
                    {
                        <li><a href="#">@(i + 1)</a></li>
                    }
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            }
        </div>
        <!-- konec forme za urejanje osebnih podatkov   -->
        <!-- Forma za vnos podatkov    -->
        <div class="panel panel-default vnosnaForma">
            <div id="dogodki" class="panel-heading">
                <table style="width:100%;">
                    <tr>
                        <td style="width:70%;">Dogodki</td>
                        <td style="width:30%;">
                            <span style="font-size: 0.75em;display:inline-block;float:right;">
                                Število zadetkov: &nbsp;
                                <select>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                @if (Model.seznamDogodkov.Count() == 0)
                {
                    <p>Seznam dogodkov je prazen!</p>
                }
                else
                {
                    foreach (var sD in Model.seznamDogodkov)
                    {
                        <div class="panel panel-default aktivnost">
                            <div class="panel-heading clearfix">
                                <span>@sD.Dogodek.naziv</span>
                                <span>@sD.Dogodek.nazivLokacije</span>
                                <span>@sD.Dogodek.datumOd - @sD.Dogodek.datumDo</span>
                                <span>@sD.Dogodek.status</span>
                            </div>
                            <div class="panel-body collapse" id="dogodek-@sD.Dogodek.idDogodek" style="word-wrap:break-word;">
                                <p>
                                    @sD.Dogodek.opis
                                </p>
                                <table class="table table-hover" style="table-layout:fixed">
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="40%" />
                                    <tr>
                                        <th>Naziv</th>
                                        <th>Kdaj</th>
                                        <th>Čas trajanja</th>
                                        <th>Opis</th>
                                    </tr>

                                    @foreach (var sD_postavka in sD.Dogodek.PostavkaDogodka)
                                    {
                                        <tr>
                                            <td>@sD_postavka.naziv</td>
                                            <td>@sD_postavka.casovniOpisKdaj</td>
                                            <td>@sD_postavka.opisCasaTrajanja</td>
                                            <td>@sD_postavka.polniOpis</td>
                                        </tr>
                                    }

                                </table>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default" type="button" data-toggle="collapse" href="#dogodek-@sD.Dogodek.idDogodek">Več...</button>
                                @*<button class="btn btn-default" type="button">Prekliči udeležbo</button>
                                <button class="btn btn-default" type="button">Podrobno</button>*@
                            </div>
                        </div>
                    }
                }
            </div>
            @*<nav class="ostranjevanje">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>*@
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/myattendees.js")
}