@model EventiqonWebApp.Models.MyAttendeesViewModel


<tr>
    <th>Dogodek/aktivnost</th>
    <th>Termin</th>
    <th>Opis</th>
    <th>Lokacija</th>
</tr>

@if(Model.seznamAktivnosti.Count() > 0 ||  Model.seznamDogodkov.Count() > 0)
{
    foreach (var aktivnost in Model.seznamAktivnosti)
    {
        <tr>
            <td>@aktivnost.Aktivnost.naziv (Akt @aktivnost.Aktivnost.idAktivnost)</td>
            <td>@aktivnost.Aktivnost.datumOd - @aktivnost.Aktivnost.datumDo</td>
            <td>@aktivnost.Aktivnost.opis</td>
            <td>@aktivnost.Aktivnost.nazivLokacije</td>
        </tr>
    }
    foreach (var dogodek in Model.seznamDogodkov)
    {
        <tr>
            <td>@dogodek.Dogodek.naziv (Dog @dogodek.Dogodek.idDogodek)</td>
            <td>@dogodek.Dogodek.datumOd - @dogodek.Dogodek.datumDo</td>
            <td>@dogodek.Dogodek.opis</td>
            <td>@dogodek.Dogodek.nazivLokacije</td>
        </tr>
    }

} else
{
    <tr>
        <td colspan="4">Iskanje ni obrodilo sadov. Izberite drugo obdobje!</td>
    </tr>
}



