@model IEnumerable<EventiqonWebApp.Models.Obvestilo>
@{
    ViewBag.Title = "UserInbox";
}   

<div class="row">

    <!-- Pogled sporočila   -->
    <div class="panel panel-default vnosnaForma">
        <div id="osebniPodatki" class="panel-heading">Obvestila</div>
        <div class="panel-body">
            <div class="col-lg-4 col-md-4">
                <table class="table inboxList">
                    
                    @if (Model.Count() > 0)
                    {
                        <tr class="active"><td>@Model.ElementAt(0).tema</td></tr>
                    }


                    @for (int i = 1; i < Model.Count(); i++)
                    {
                       <tr><td>@Model.ElementAt(i).tema</td></tr>
                    }
                </table>
            </div>

            @if (Model.Count() > 0)
            {
            <div class="col-lg-8 col-md-8">
                <table class="table inboxMail">
                    <tr><td>Pošiljatelj:</td><td>Eveniqon portal</td></tr>
                    <tr><td>Prejmenik:</td><td>@Model.ElementAt(0).uprabniskoIme</td></tr>
                    <tr><td>Tema:</td><td>@Model.ElementAt(0).tema</td></tr>
                    <tr class="messageContent"><td colspan="2">@Model.ElementAt(0).sporocilo</td></tr>
                </table>
            </div>
            }
        </div>
    </div>
    <!--  Konec pogleda sporočila  -->
</div>

